{% extends "layout.html" %}

{% block hero %}

<div class="jumbotron jumbotron-fluid bg-smartseed text-light">
  <div class="container">
    <h1 class="display-4">About SmartSeed</h1>
  </div>
</div>

{% endblock %}

{% block body %}


    <p class="text-secondary fs-5">
        At SmartSeed, we are committed to revolutionizing the way we grow and consume food. We specialize in
        vertical farming technology that enables us to grow fresh,
        healthy produce all year round, using fewer resources and less land. Our mission is to make
        sustainable, locally grown food accessible to everyone, and we're proud
        to be leading the way in this exciting field.
    </p>
    <p class="text-secondary fs-5">
        We're currently focusing on growing peas, a delicious and nutritious legume that's in high demand but often difficult to find locally. 
        By growing peas in our vertical farm, we're able to provide a fresh and sustainable alternative to imported peas, which often come with a significant environmental footprint. 
        Our team of experts is dedicated to perfecting the growing process, so we can offer the best possible product to our customers.
    </p>

    <div class="row gy-4">
        <div class="col-md-4">
            <div class="card-body text-center">
                <img src="{{ url_for('static', filename='img/htph.jpg') }}" alt="John Doe"
                    class="img-fluid rounded mb-3">
                <h5 class="card-title mb-0">Albert de Panzo</h5>
                <div class="text-muted mb-2">Guru</div>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <!--TODO:  ADD LINKS TO SOME COULD BE RANDOM-->
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body text-center">
                <img src="{{ url_for('static', filename='img/htph.jpg') }}" alt="John Doe"
                    class="img-fluid rounded mb-3">
                <h5 class="card-title mb-0">Aske Badabing</h5>
                <div class="text-muted mb-2">System Admin</div>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <!--TODO:  ADD LINKS TO SOME COULD BE RANDOM-->
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body text-center">
                <img src="{{ url_for('static', filename='img/htph.jpg') }}" alt="John Doe"
                    class="img-fluid rounded mb-3">
                <h5 class="card-title mb-0">Casper Nordeidet</h5>
                <div class="text-muted mb-2">Tvilsom speler</div>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <!--TODO:  ADD LINKS TO SOME COULD BE RANDOM-->
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body text-center">
                <img src="{{ url_for('static', filename='img/htph.jpg') }}" alt="John Doe"
                    class="img-fluid rounded mb-3">
                <h5 class="card-title mb-0">Casper Bruker Dong</h5>
                <div class="text-muted mb-2">Praktisk Rasist</div>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <!--TODO:  ADD LINKS TO SOME COULD BE RANDOM-->
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body text-center">
                <img src="{{ url_for('static', filename='img/htph.jpg') }}" alt="John Doe"
                    class="img-fluid rounded mb-3">
                <h5 class="card-title mb-0">Martin Pastasaus</h5>
                <div class="text-muted mb-2">Italian Dev</div>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <!--TODO:  ADD LINKS TO SOME COULD BE RANDOM-->
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-secondary m-2" href="#!"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}