{% extends 'layout.html' %}

{% block hero %}
  <head>
    <title>Graph</title>
    <style>
      canvas {
        border: 1px solid black;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <canvas id="graph" width="400" height="300"></canvas>
    <script>
      const values1 = {{ values1|tojson }};
      const values2 = {{ values2|tojson }};
      const ctx = document.getElementById('graph').getContext('2d');
      const chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: Array.from(Array(values1.length).keys()),
          datasets: [{
            label: 'Moisture Level',
            backgroundColor: 'red',
            borderColor: 'red',
            data: values1,
            fill: false
          }, {
            label: 'Water Level',
            backgroundColor: 'blue',
            borderColor: 'blue',
            data: values2,
            fill: false
          }]
        },
        options: {
          responsive: false,
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Time'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Value'
              }
            }]
          }
        }
      });
    </script>
  </body>
{% endblock %}