<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <style>
      canvas {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <canvas id="graph1" width="400" height="300"></canvas>
    <canvas id="graph2" width="400" height="300"></canvas>
    <script>
      // Fetch the data from the Flask endpoint
      fetch('/data')
        .then(response => response.json())
        .then(data => {
          // Create a new canvas context for graph1
          const canvas1 = document.getElementById('graph1');
          const ctx1 = canvas1.getContext('2d');
          
          // Draw the x and y axes for graph1
          ctx1.beginPath();
          ctx1.moveTo(50, 250);
          ctx1.lineTo(350, 250);
          ctx1.stroke();
          ctx1.beginPath();
          ctx1.moveTo(50, 250);
          ctx1.lineTo(50, 50);
          ctx1.stroke();
          
          // Draw value1 as a blue line on graph1
          ctx1.beginPath();
          ctx1.strokeStyle = 'blue';
          for (let i = 0; i < data.length; i++) {
            const x = 50 + (i / (data.length - 1)) * 300;
            const y = 250 - data[i][0];
            if (i === 0) {
              ctx1.moveTo(x, y);
            } else {
              ctx1.lineTo(x, y);
            }
          }
          ctx1.stroke();

          // Create a new canvas context for graph2
          const canvas2 = document.getElementById('graph2');
          const ctx2 = canvas2.getContext('2d');
          
          // Draw the x and y axes for graph2
          ctx2.beginPath();
          ctx2.moveTo(50, 250);
          ctx2.lineTo(350, 250);
          ctx2.stroke();
          ctx2.beginPath();
          ctx2.moveTo(50, 250);
          ctx2.lineTo(50, 50);
          ctx2.stroke();
          
          // Draw value2 as a red line on graph2
          ctx2.beginPath();
          ctx2.strokeStyle = 'red';
          for (let i = 0; i < data.length; i++) {
            const x = 50 + (i / (data.length - 1)) * 300;
            const y = 250 - data[i][1];
            if (i === 0) {
              ctx2.moveTo(x, y);
            } else {
              ctx2.lineTo(x, y);
            }
          }
          ctx2.stroke();
        });
    </script>
  </body>
</html>
