{% extends 'layout.html' %}

{% block hero %}
<div class="jumbotron jumbotron-fluid mb-0 bg-smartseed text-light">
  <div class="container">
    <h1 class="display-4">Your SmartSeed farm infograph</h1>
  </div>
</div>
{% endblock %}
{% block body %}
<p class='text-right'><a href='{{url_for("add_plant")}}' class='btn btn-success '>+Add User</a></p>
<table class='table table-bordered'>
  <thead>
    <th>ID</th>
    <th>Sort</th>
    <th>Date Planted</th>
    <th>Date Harvested</th>
    <th>Location</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for row in datas %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{row.Sort}}</td>
      <td>{{row.Planted}}</td>
      <td>{{row.Harvested}}</td>
      <td>{{row.Location}}</td>
      <td>{{row.Description}}</td>
      <td><a href='{{url_for("edit_plant",ID=row.ID)}}' class='btn btn-primary'>Edit</a></td>
      <td><a href='{{url_for("delete_plant",ID=row.ID)}}' class='btn btn-danger'
          onclick='return confirm("Are You Sure")'>Delete</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{% endblock %}